body {
	font-family: Raleway;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: cover;
	background-color: #eaeaed;
}
html,body
{
  overflow-x: hidden; 
}

/*navbar*/
.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.1em;
}
.navbar-brand {
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 0;
}
.navbar {
  background-color: rgb(0, 0, 0);
  opacity: 0.88;
  box-shadow: 0px 1px 50px #999;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  font-size: 1.5em;
}

.ml-auto .nav-link {
  margin-right: 20px;
}

.glypicon {
  padding-left: 10px;
}

.nav-link:hover {
  background-color: #1a1a1a;
  font-size: 19px;
}

.active .nav-link {
  border-bottom: 2px solid #2d9cc2;
}

.underlinehover {
  display: inline-block;
}

.underlinehover:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.underlinehover:hover:after {
  width: 100%;
  background: #2d9cc2;
}

/*navbar ends*/
/*login form begin*/
#main-login-form-section{
	padding-top: 100px;
}
.login {
	width: 350px;
}
.title {
	color: black;
	text-align: center;
	font-size: 35px;
	margin-top: 0;
}
.login .content {
	padding: 20px;
	border-radius: 25px;
	border: none;
	color: black;
	border-radius: 1px;
	margin-bottom: 15px;
	background-color: #ffffff;
	/* border: 1px solid #f3f3f3; */
	padding: 25px;
	-webkit-box-shadow: 7px 7px 15px -1px rgba(103,103,103,0.99); 
	box-shadow: 7px 7px 15px -1px rgba(103,103,103,0.99);
	border-radius: 1%;
}
.form-group {
	margin-bottom: 20px;
}
.login label {
	font-weight: normal;
	font-size: 13px;
}
.login .form-control {
	min-height: 38px;
	padding-left: 5px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	border-radius: 0;
}
.login .form-control:focus {
	border-color: #ccc;
}
.login .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-bottom: 1px solid #ced4da;
	padding-right: 5px;
	border-radius: 0;
}
.login .btn, .login .btn:active {        
	font-size: 16px;
	font-weight: bold;
	border-radius: 3px;
	border: none;
	min-width: 140px;
}
.login .hint-text {
	float: right;
	padding-top: 5px;
    font-size: 13px;   
}
.login .modal-footer {
	color: black;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -25px -25px;
	font-size: 13px;
	justify-content: center;
}
.login a {
	color: #fff;
	text-decoration: underline;
}
.login a:hover {
	text-decoration: none;
}
.login a {
	color: #007bff;
	text-decoration: none;
}	
.login a:hover {
	text-decoration: underline;
}
.login .fa {
	font-size: 21px;
	position: relative;
	top: 6px;
}
#emailAlert{
	color:red;
}
#message {
	display:none;
	padding: 5px;
}
#message p {
	padding: 5px;
}
#login-button{
	color:white;
	background-color: rgb(0, 0, 0);
}
/* Forgot Password Form Section Starts*/
#forgot-password-navbar{
	display: none;
}
.main-forgot-pass-section{
	margin: 100px auto;
	font-family: Raleway;
	padding: 40px;
	width: 50%;
	min-width: 350px;
	display: none;	
}
#forgetPasswordForm{
	-webkit-box-shadow: 7px 7px 15px -1px rgba(103,103,103,0.99); 
	box-shadow: 7px 7px 15px -1px rgba(103,103,103,0.99);
	border-radius: 1%;
}
.main-forgot-pass-section h2 {
	color: black;
	margin: 0 0 15px;
	text-align: center;
}
.main-forgot-pass-section form {		
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.main-forgot-pass-section .form-group {
	margin-bottom: 20px;
}
.main-forgot-pass-sectionlabel {
	font-weight: normal;
	font-size: 13px;
}
.main-forgot-pass-section .form-control {
	min-height: 38px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	
}	
.main-forgot-pass-section .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 5px;
}
.main-forgot-pass-section .fa {
	font-size: 21px;
	position: relative;
	top: 8px;
}
.alert{
	margin: auto;
	margin-bottom: 20px;
}
#userNameAlert{
	color:red;
}
#error-alert-message{
	display: none;
}
#blank-alert-message{
	display: none;
}
#passwordAlert{
	color:red;
}
.reset-button{
	margin: 5px;  
	padding: 3.5px 25px ;
	font-size: 20px;
	color: rgb(0, 0, 0);
	background-color: white;
	border: 1px solid rgb(0, 0, 0);
  }
.submit-button{
	margin:5px;
	padding: 4px 18px;
	font-size: 20px;
	color: white;
	background-color: rgb(0, 0, 0);
}
 
.submit-button:hover {        
	color: white;
	background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 603px) {
	.button-center-align{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}	
/* Forgot Password Form Section Ends*/
