body {
	font-family: Raleway;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: cover;
	background-color: #eaeaed;
}
html,body
{
  overflow-x: hidden; 
}

/*navbar*/
.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1em;
}
.navbar-brand {
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 0;
}
.navbar {
    background-color: rgb(0, 0, 0);
    opacity: 0.88;
    box-shadow: 0px 1px 50px #999;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.navbar-brand {
    font-size: 1.5em;
}
.ml-auto .nav-link {
    margin-right: 20px;
}
.glypicon {
    padding-left: 10px;
}
.nav-link:hover {
    background-color: #1a1a1a;
    font-size: 19px;
}
  
.active .nav-link {
    border-bottom: 2px solid #2d9cc2;
}
  
.underlinehover {
    display: inline-block;
}
.underlinehover:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.underlinehover:hover:after {
    width: 100%;
    background: #2d9cc2;
}
  
/*navbar ends*/
/* Reset Passowrd Form Section Starts*/
#ResetPassForm{
	-webkit-box-shadow: 7px 7px 15px -1px rgba(103,103,103,0.99); 
	box-shadow: 7px 7px 15px -1px rgba(103,103,103,0.99);
	border-radius: 1%;
}
.form-control, .form-control:focus, .input-group-addon {
	border-color: #e1e1e1;
	border-radius: 0;
	color: black;
}
.reset-form{
	margin: 100px auto;
	font-family: Raleway;
	padding: 40px;
	width: 50%;
	min-width: 350px;
	
}
.reset-form h2 {
	color: black;
	margin: 0 0 15px;
	text-align: center;
	font-size: 35px;
}
.reset-form .lead {/*Remove*/
	font-size: 14px;
	margin-bottom: 30px;
	text-align: center;
}
.reset-form form {		
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.reset-form .form-group {
	margin-bottom: 20px;
}
.reset-form label {
	font-weight: normal;
	font-size: 13px;
}
.reset-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
}	
.reset-form .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 5px;
}
.reset-form .btn, .reset-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	border-radius: 3px;
	border: none;
	min-width: 140px;
}

.reset-form a {
	text-decoration: none;
}	
.reset-form a:hover {
	text-decoration: underline;
}
.reset-form .fa {
	font-size: 21px;
	position: relative;
	top: 8px;
}
.reset-form .fa-paper-plane {
	font-size: 17px;
}
.reset-form .fa-check {
	color: #fff;
	left: 9px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
#message {
	display:none;
	padding: 5px;
}
#message p {
	padding: 5px;
}
#confPasswordAlert{
	color:red;
}
#emailAlert{
	color:red;
}
#passwordAlert{
	color:red;
}
#login-button{
	color:white;
	background-color: rgb(0, 0, 0);
}