<!DOCTYPE html>
<html>
    <head>
        <title>Topics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Necessary CSS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        >
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
        >
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!--AOS JS-->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!--template CSS-->
        <link rel="stylesheet" type="text/css" href="topic.css">
    </head>
    <body>
        <!-- Navbar start -->
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="#">Inderjit Singh</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item underlinehover">
                        <a class="nav-link" href="#">
                            Home
                            <span class="fa fa-home"></span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item underlinehover">
                        <a class="nav-link" href="#">
                            Contact Us
                            <span class="fa fa-phone"></span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item underlinehover ">
                        <a class="nav-link" href="#">
                            Profile
                            <span class="fa fa-user"></span>
                        </a>
                    </li>
                    <li class="nav-item underlinehover ">
                        <a class="nav-link" href="..\login\login.html">
                            Logout
                            <span class="fa fa-sign-in"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- navbar ends -->
        <br>
        <br>
        <div class='container text-center'>
            <h3 class="heading text-center"> Subject > Topic Name</h3>
        </div>
        
        <!--  1st row Begin-->
        <div class="maindiv">
            <div class="container main">
                <div class="row row1">
                    <div class="col-md-3 divi ">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 1</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 2</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 3</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 4</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--  1st row ends-->
        <br>
        <!--  2nd row begin-->
        <div class="maindiv">
            <div class="container main">
                <div class="row row1">
                    <div class="col-md-3 divi ">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 5</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 6</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 7</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 8</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div> 
        </div>
        <!-- 2st row ends-->
        <br>

        <!--  3rd row begin-->
        <div class="maindiv">
            <div class="container main">
                <div class="row row1">
                    <div class="col-md-3 divi ">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 9</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 10</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 11</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 divi divrow1">
                        <a href="#">
                            <img class="card-img" src="download.png">
                            <div class="topicname">
                                <p class="card-title">Document 12</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- 3rd row ends-->
    <br>
    <!--  4th row begin-->
    <div class="maindiv">
        <div class="container main">
            <div class="row row1">
                <div class="col-md-3 divi ">
                    <a href="#">
                        <img class="card-img" src="download.png">
                        <div class="topicname">
                            <p class="card-title">Document 13</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 divi divrow1">
                    <a href="#">
                        <img class="card-img" src="download.png">
                        <div class="topicname">
                            <p class="card-title">Document 14</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 divi divrow1">
                    <a href="#">
                        <img class="card-img" src="download.png">
                        <div class="topicname">
                            <p class="card-title">Document 15</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 divi divrow1">
                    <a href="#">
                        <img class="card-img" src="download.png">
                        <div class="topicname">
                            <p class="card-title">Document 16</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- 4th row ends-->

      <!--button start-->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-3"></div>
            <div class="col-xl-6 col-md-6" >
                <div class="button">
                    <button class="block">Block Button</button>
                </div>
            </div>
        </div>
    </div>
    <!-- button ends-->
    <br><br>
    <!--footerr-->
    
    <div class="footer" >
        <div class="container">
        <div class="row">
            <div class="column col-xl-3 col-md-3 col-sm-12 offset-md-1 side">
            <h6 style="font-weight:bold">Register for free</h5>
            <br>
              <a href="..\register\register.html">
                <!-- <button class="button button1">Sign Up!</button> -->
                <button type="button" style="color:white;" class="btn  footer-btn">Sign Up</button>
              </a>
            </div>
            
            <div class="column col-xl-2 col-md-2 col-sm-12 side">
              <h6  style="font-weight:bold">Useful links</h5>
              <br>
              <ul class="bb">
                  <li><a href="index.html" style="text-decoration: none;color:#2d9cc2;" class="fa fa-home" ></a><a href="index.html" style="text-decoration: none;color:white"> Home</a></li>
                  <br>
                  <li><a href="#" class="fa fa-phone" style="text-decoration: none;color:#2d9cc2;" ></a><a href="#" style="text-decoration: none;color:white"> Contact</a></li>
                  <br>
                  <li><a href="..\login\login.html" style="text-decoration: none;color:#2d9cc2;" class="fa fa-sign-in"></a><a href="..\login\login.html" style="text-decoration: none;color:white"> Login</a> </li>
              </ul>
            </div>
      
              
            <div class="column col-xl-3 col-md-3 col-sm-12 side">
              <h6 style="font-weight:bold">Contact Us</h5>
              <br>
              <p style="font-size: 14px;"><a class="fa fa-map-marker" style="font-size:18px;color:#2d9cc2;"></a> K.J. Somaiya College of Engineering
              <br> Vidyanagar, Vidyavihar<br>
              Mumbai, India </p>
              <p><a class="fa fa-envelope" style="font-size:14px;color:#2d9cc2;"></a> Email</p>
            </div>
      
              
            
            
            <div class="column col-xl-3 col-md-3 col-sm-12 side" >
              <h6 style="font-weight:bold">Number of Visitors</h5>
                  <br>
                  <div class="counter" style="zoom:75%;">
                  
              <!-- Start of WebFreeCounter Code -->
    <a href="https://www.webfreecounter.com/" target="_blank"><img src="https://www.webfreecounter.com/hit.php?id=geaqcfp&nd=6&style=10" border="0" alt="hit counter"></a>
    <!-- End of WebFreeCounter Code -->                         
                                          
                  </div>               
                  <br>
                
            </div>
        </div>
          </div>
          </div>
      <!--footer-->
  
    <!--Other JS-->

    <!--Necessary Javascript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
