{% load static %}
<!DOCTYPE html>
<html>



<head>
    <title>Topics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Necessary CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--AOS JS-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--template CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/documents.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">
</head>

<body>
    <!-- Navbar start -->
    <div class='our-navbar'>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="{% url 'index' %}"><img style="height: 28px;width: 170px;" src="../../media/logo.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item underlinehover">
                        <a class="nav-link" href="{% url 'index' %}">Home <span class="fa fa-home"></span><span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item underlinehover">
                        <a class="nav-link" href="{% url 'aboutus' %}">About Us <i class="fa fa-users" aria-hidden="true"></i></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item underlinehover ">
                        <a class="nav-link " href="" id="btnLogin" data-toggle="modal"
                            data-target="#profileModal">Profile <span class="fa fa-user"></span></a>
                    </li>
                    <li class="nav-item underlinehover ">
                        <a class="nav-link " href="{% url 'logout' %}">Logout <span class="fa fa-sign-in"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- navbar ends -->
    <br>
    <br>

    <div class="modal fade show" data-easein="slideDownIn" id="profileModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-profile modal-dialog-centered" role="document">
            <div class="modal-content" style="border-radius: 12px;">
                <div class="modal-header" style="border-radius: 12px 12px 0px 0px;">
                    <h5 class="modal-title">Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="profileForm">
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" name="fullName"
                                id="fullName" value="{{student.fullname}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="emailId">Email</label>
                            <input type="email " class="form-control" placeholder="Email" name="emailId" id="emailId"
                                value="{{student.email}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="collegeName">Name of College/University</label>
                            <input type="text" class="form-control" placeholder="Name of College/University"
                                name="collegeName" value="{{student.college}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="branch">Branch</label>
                            <input type="text" class="form-control" placeholder="Branch" name="branch" id="branch"
                                value="{{student.branch}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="yearOfStudy">Year of Study</label>
                            <input type="text" class="form-control" placeholder="Year of Study" id="yearOfStudy"
                                name="yearOfStudy" value="{{student.year}}" readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class='container text-center'>
        <h3 class="heading"><a href="{% url 'subjects' %}"><span class="badge badge-warning">{{subject}}</span></a> > {{topic}}</h3>
    </div>

    {% if message %}
    <div
        style="text-align: center;width:600px;height:65px;padding:20px;margin:auto;border:0.5px solid red;border-radius: 5px; color:rgb(255, 255, 255);background-color: rgba(255, 99, 71, 0.548);">
        {{message}}</div>
    {% endif %}
    <!--  1st row-->
    <div id="maindiv">
        <div class="container main">
            <div class="row row1">
                <div class="col-sm-3 divi ">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc1" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-3 divi divrow1">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc2" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-3 divi divrow1">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc3" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- 1st row -->
        <br>
        <br>
        <form id="uploadDoc" method="POST" name="UploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="activitydiv">
                <div class="container cont1">
                    <div class="row row2">
                        <!--Activity pdf starts-->
                        <div class="column col-xl-3 col-l-3 col-md-3 col-sm-12 col-xs-12  column1 activity "
                            onclick="window.location='#';">
                            <div class="card card1">
                                {% if activities %}
                                {% for activity in activities %}
                                {% if activity.name == "activity_1" %}
                                <a href="{{ activity.files.url }}" target="_blank">
                                    <img class="card-img" src="../../media/images/documents-page/pdf.png">
                                </a>
                                <a href="{{ activity.files.url }}" target="_blank"><button id="btn1"
                                        type="button">Activity 1</button></a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <!--Activity pdf ends-->
                        <div class="column col-xl-1 col-l-1 col-md-1"></div>
                        {% if uploads %}
                        {% for upload in uploads %}
                        {% if upload.activity.name == "activity_1" or upload.activity.name == "activity_2" %}
                        {% if upload.activity.name == "activity_1" %}
                        {% if upload.status == "Uploaded" or upload.status == "Approved" %}
                        <!-- upload setion starts -->
                        <div class="column col-xl-4 col-l-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row file-upload">
                                <div class="file-approved-content">
                                    <div class="row no-gutters">
                                        <div class="col-3 file-doc-icon m-auto">
                                            <i class="fa fa-file"></i>
                                        </div>
                                        <div class="col-9">
                                            <div class="row file-name-section">
                                                <div class="col-12">
                                                    <span class="approved-image-title">
                                                        <a href="{{ upload.files.url }}"
                                                            target="_blank">{{ upload.name }}</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<span class="badge badge-pill badge-warning" id="status-danger-badge2">
                                                                <a href="{{ upload.files.url }}" target="_blank">{{ upload.name }}</a>
                                                            </span>-->
                            </div>
                            <div class="row status-section">
                                <div class="col-2"></div>
                                <div class="col-3 status-text">
                                    Status:
                                </div>
                                <div class="col-5 status-badge">
                                    <span class="badge badge-pill badge-success" id="status-danger-badge2">
                                        {{ upload.status }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- upload setion ends-->
                        {% else %}
                        <!-- upload setion starts -->
                        <div class="column col-xl-4 col-l-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="file-upload">

                                        <div class="image-upload-wrap2" id="wrap2">
                                            <input class="file-upload-input2" id="file-upload-input-doc1" type="file"
                                                name="file-upload-input-doc1"
                                                onchange="readURL2(this);checkFileUploadDoc2();"
                                                accept="application/txt.application/pdf,application/doc">
                                            <input type="hidden" name="activity_name" value="activity_1" />
                                            <div class="drag-text">
                                                <div class="upload-icon mt-4">
                                                    <i class="fa fa-cloud-upload"></i>
                                                </div>
                                                <h6 class="dragdrop">Drag and drop your file or Click to Browse</h6>
                                            </div>
                                        </div>
                                        <div class="file-upload-content2" id="file-content2">
                                            <div class="row no-gutters">
                                                <div class="col-3 file-doc-icon m-auto">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row file-name-section">
                                                        <div class="col-8  m-auto">
                                                            <span class="image-title2" id="imgtitle2">Uploaded
                                                                Image</span>
                                                        </div>
                                                        <div class="col-4 image-title-wrap m-auto">
                                                            <button type="button" onclick="removeUpload2()"
                                                                class="remove-image">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row status-section">
                                <div class="col-3 status-text">
                                    Status:
                                </div>
                                <div class="col-5 status-badge">
                                    <span class="badge badge-pill badge-danger"
                                        id="status-danger-badge2">{{upload.status}}</span>
                                </div>
                                <div class="col-4 status-button">
                                    <button class="button" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- upload setion ends-->
                        {% endif%}
                        {% endif%}
                        {% else %}
                        <!-- upload setion starts -->
                        <div class="column col-xl-4 col-l-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="file-upload">

                                        <div class="image-upload-wrap2" id="wrap2">
                                            <input class="file-upload-input2" id="file-upload-input-doc1" type="file"
                                                name="file-upload-input-doc1"
                                                onchange="readURL2(this);checkFileUploadDoc2();"
                                                accept="application/txt.application/pdf,application/doc">
                                            <input type="hidden" name="activity_name" value="activity_1" />
                                            <div class="drag-text">
                                                <div class="upload-icon mt-4">
                                                    <i class="fa fa-cloud-upload"></i>
                                                </div>
                                                <h6 class="dragdrop">Drag and drop your file or Click to Browse</h6>
                                            </div>
                                        </div>
                                        <div class="file-upload-content2" id="file-content2">
                                            <div class="row no-gutters">
                                                <div class="col-3 file-doc-icon m-auto">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row file-name-section">
                                                        <div class="col-8  m-auto">
                                                            <span class="image-title2" id="imgtitle2">Uploaded
                                                                Image</span>
                                                        </div>
                                                        <div class="col-4 image-title-wrap m-auto">
                                                            <button type="button" onclick="removeUpload2()"
                                                                class="remove-image">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row status-section">
                                <div class="col-3 status-text">
                                    Status:
                                </div>
                                <div class="col-5 status-badge">
                                    <span class="badge badge-pill badge-danger" id="status-danger-badge2">No File
                                        Attached</span>
                                </div>
                                <div class="col-4 status-button">
                                    <button class="button" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- upload setion ends-->
                        {% endif%}
                        {% endfor %}
                        {% else %}
                        <!-- upload setion starts -->
                        <div class="column col-xl-4 col-l-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="file-upload">

                                        <div class="image-upload-wrap2" id="wrap2">
                                            <input class="file-upload-input2" id="file-upload-input-doc1" type="file"
                                                name="file-upload-input-doc1"
                                                onchange="readURL2(this);checkFileUploadDoc2();"
                                                accept="application/txt.application/pdf,application/doc">
                                            <input type="hidden" name="activity_name" value="activity_1" />
                                            <div class="drag-text">
                                                <div class="upload-icon mt-4">
                                                    <i class="fa fa-cloud-upload"></i>
                                                </div>
                                                <h6 class="dragdrop">Drag and drop your file or Click to Browse</h6>
                                            </div>
                                        </div>
                                        <div class="file-upload-content2" id="file-content2">
                                            <div class="row no-gutters">
                                                <div class="col-3 file-doc-icon m-auto">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row file-name-section">
                                                        <div class="col-8  m-auto">
                                                            <span class="image-title2" id="imgtitle2">Uploaded
                                                                Image</span>
                                                        </div>
                                                        <div class="col-4 image-title-wrap m-auto">
                                                            <button type="button" onclick="removeUpload2()"
                                                                class="remove-image">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Added status button(submit)-->
                            <div class="row status-section">
                                <div class="col-3 status-text">
                                    Status:
                                </div>

                                <div class="col-5 status-badge status-button1">
                                    <span class="badge badge-pill badge-danger" id="status-danger-badge2">
                                        No File Attached
                                    </span>
                                </div>

                                <div class="col-4 status-button">
                                    <button class="button" type="submit">Submit</button>
                                </div>

                            </div>
                        </div>
                        <!-- upload setion ends-->
                        {% endif %}
                        <div class="column col-xl-1 col-l-1 col-md-1"></div>
                        <!-- Example section starts-->
                        <div
                            class="column col-xl-3 col-l-3 col-md-3 col-sm-12 col-xs-12 offset-* column1 activity text-center">
                            {% if activities %}
                            {% for activity in activities %}
                            {% if activity.name == "activity_1" %}
                                <a href="{{ activity.driveLink }}" target="_blank"><button type="button" id="btn2">
                                    <p>
                                        Get access to some
                                        <br>
                                        solved LTspice files
                                    </p>
                                </button></a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- example section ends -->
                </div>
            </div>
        </form>
    </div>
    <br>

    <!--  1st row-->
    <div id="maindiv">
        <div class="container main">
            <div class="row row1">
                <div class="col-sm-3 divi ">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc4" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-3 divi divrow1">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc5" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-3 divi divrow1">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc6" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- 1st row -->
        <br>
        <br>
        {% if activities %}
        {% for activity in activities %}
        {% if activity.name == "activity_2" %}
        <form id="uploadDoc" method="POST" name="UploadForm" enctype="multipart/form-data">{% csrf_token %}
            <div class="activitydiv">
                <div class="container cont1">
                    <div class="row row2">
                        <!--Activity pdf starts-->
                        <div class="column col-xl-3 col-l-3 col-md-3 col-sm-12 col-xs-12  column1 activity "
                            onclick="window.location='#';">
                            <div class="card card1">
                                <a href="{{ activity.files.url }}" target="_blank">
                                    <img class="card-img" src="../../media/images/documents-page/pdf.png">
                                </a>
                                <a href="{{ activity.files.url }}" target="_blank"><button id="btn1"
                                        type="button">Activity 2</button></a>
                            </div>
                        </div>
                        <!--Activity pdf ends-->
                        <div class="column col-xl-1 col-l-1 col-md-1"></div>


                        {% if uploads|length > 1 %}
                        {% for upload in uploads %}
                        {% if upload.activity.name == "activity_2" %}
                        {% if upload.status == "Uploaded" or upload.status == "Approved" %}
                        <!-- upload setion starts -->
                        <div class="column col-xl-4 col-l-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row file-upload">
                                <div class="file-approved-content">
                                    <div class="row no-gutters">
                                        <div class="col-3 file-doc-icon m-auto">
                                            <i class="fa fa-file"></i>
                                        </div>
                                        <div class="col-9">
                                            <div class="row file-name-section">
                                                <div class="col-9 m-auto">
                                                    <span class="approved-image-title">
                                                        <a href="{{ upload.files.url }}"
                                                            target="_blank">{{ upload.name }}</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                                <span class="badge badge-pill badge-warning" id="status-danger-badge2">
                                                    <a href="{{ upload.files.url }}" target="_blank">{{ upload.name }}</a>
                                                </span>-->
                            </div>
                            <div class="row status-section">
                                <div class="col-2"></div>
                                <div class="col-3 status-text">
                                    Status:
                                </div>
                                <div class="col-5 status-badge">
                                    <span class="badge badge-pill badge-success" id="status-danger-badge2">
                                        {{ upload.status }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- upload setion ends-->
                        {% else %}
                        <!-- upload setion starts -->
                        <div class="column col-xl-4 col-l-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="file-upload">

                                        <div class="image-upload-wrap2" id="wrap2">
                                            <input class="file-upload-input2" id="file-upload-input-doc1" type="file"
                                                name="file-upload-input-doc1"
                                                onchange="readURL2(this);checkFileUploadDoc2();"
                                                accept="application/txt.application/pdf,application/doc">
                                            <input type="hidden" name="activity_name" value="activity_2" />
                                            <div class="drag-text">
                                                <div class="upload-icon mt-4">
                                                    <i class="fa fa-cloud-upload"></i>
                                                </div>
                                                <h6 class="dragdrop">Drag and drop your file or Click to Browse</h6>
                                            </div>
                                        </div>
                                        <div class="file-upload-content2" id="file-content2">
                                            <div class="row no-gutters">
                                                <div class="col-3 file-doc-icon m-auto">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row file-name-section">
                                                        <div class="col-8  m-auto">
                                                            <span class="image-title2" id="imgtitle2">Uploaded
                                                                Image</span>
                                                        </div>
                                                        <div class="col-4 image-title-wrap m-auto">
                                                            <button type="button" onclick="removeUpload2()"
                                                                class="remove-image">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row status-section">
                                <div class="col-3 status-text">
                                    Status:
                                </div>
                                <div class="col-5 status-badge">
                                    <span class="badge badge-pill badge-danger" id="status-danger-badge2">No File
                                        Attached</span>
                                </div>
                                <div class="col-4 status-button">
                                    <button class="button" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- upload setion ends-->
                        {% endif%}

                        {% endif%}
                        {% endfor %}
                        {% else %}
                        <!-- upload setion starts -->
                        <div class="column col-xl-4 col-l-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="file-upload">

                                        <div class="image-upload-wrap2" id="wrap2">
                                            <input class="file-upload-input2" id="file-upload-input-doc1" type="file"
                                                name="file-upload-input-doc1"
                                                onchange="readURL2(this);checkFileUploadDoc2();"
                                                accept="application/txt.application/pdf,application/doc">
                                            <input type="hidden" name="activity_name" value="activity_2" />
                                            <div class="drag-text">
                                                <div class="upload-icon mt-4">
                                                    <i class="fa fa-cloud-upload"></i>
                                                </div>
                                                <h6 class="dragdrop">Drag and drop your file or Click to Browse</h6>
                                            </div>
                                        </div>
                                        <div class="file-upload-content2" id="file-content2">
                                            <div class="row no-gutters">
                                                <div class="col-3 file-doc-icon m-auto">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row file-name-section">
                                                        <div class="col-8  m-auto">
                                                            <span class="image-title2" id="imgtitle2">Uploaded
                                                                Image</span>
                                                        </div>
                                                        <div class="col-4 image-title-wrap m-auto">
                                                            <button type="button" onclick="removeUpload2()"
                                                                class="remove-image">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row status-section">
                                <div class="col-3 status-text">
                                    Status:
                                </div>
                                <div class="col-5 status-badge">
                                    <span class="badge badge-pill badge-danger" id="status-danger-badge2">No File
                                        Attached</span>
                                </div>
                                <div class="col-4 status-button">
                                    <button class="button" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- upload setion ends-->
                        {% endif %}

                        <div class="column col-xl-1 col-l-1 col-md-1"></div>
                        <!-- Example section starts-->
                        <div
                            class="column col-xl-3 col-l-3 col-md-3 col-sm-12 col-xs-12 offset-* column1 activity text-center">
                            {% if activities %}
                            {% for activity in activities %}
                            {% if activity.name == "activity_2" %}
                                <a href="{{ activity.driveLink }}" target="_blank" ><button type="button" id="btn2">
                                    <p>
                                        Get access to some
                                        <br>
                                        solved LTspice files
                                    </p>
                                </button></a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- example section ends -->
                </div>
            </div>
        </form>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <br>

    <!--  1st row-->
    <div id="maindiv">
        <div class="container main">
            <div class="row row1">
                <div class="col-sm-3 divi ">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc7" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-3 divi divrow1">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc8" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-3 divi divrow1">
                    {% if documents %}
                    {% for document in documents %}
                    {% if document.name == "doc9" %}
                    <a href="{{ document.files.url }}" target="_blank">
                        <img class="card-img" src="../../media/images/documents-page/pdf.png">
                        <div class="topicname">
                            <p class="card-title">{{ document.name }}</p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- 1st row -->
    </div>
    <hr><br>
    <br>
    <!--footerr-->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="column col-xl-3 col-md-3 col-sm-12 offset-md-1 side">
                    <h6 style="font-weight:bold">Register for free</h5>
                        <br>
                        <a href="{% url 'signup' %}">
                            <!-- <button class="button button1">Sign Up!</button> -->
                            <button type="button" style="color:white;" class="btn  footer-btn">Sign Up</button>
                        </a>
                </div>

                <div class="column col-xl-2 col-md-2 col-sm-12 side">
                    <h6 style="font-weight:bold">Useful links</h5>
                        <br>
                        <ul class="bb">
                            <li><a href="{% url 'index' %}" style="text-decoration: none;color:#2d9cc2;"
                                    class="fa fa-home"></a><a href="{% url 'index' %}"
                                    style="text-decoration: none;color:white"> Home</a></li>
                            <br>
                            <li><a href="{% url 'aboutus' %}" class="fa fa-users" style="text-decoration: none;color:#2d9cc2;"></a><a
                                    href="{% url 'aboutus' %}" style="text-decoration: none;color:white"> About</a></li>
                            <br>
                            <li><a href="{% url 'logout' %}" style="text-decoration: none;color:#2d9cc2;"
                                    class="fa fa-sign-in"></a><a href="{% url 'logout' %}"
                                    style="text-decoration: none;color:white"> Logout</a> </li>
                        </ul>
                </div>

                <div class="column col-xl-3 col-md-3 col-sm-12 side">
                    <h6 style="font-weight:bold">Contact Us</h5>
                        <br>
                        <p style="font-size: 14px;"><a class="fa fa-map-marker"
                                style="font-size:18px;color:#2d9cc2;"></a> K.J. Somaiya College of Engineering
                            <br> Vidyanagar, Vidyavihar<br>
                            Mumbai, India </p>
                        <p><a class="fa fa-envelope" style="font-size:14px;color:#2d9cc2; text-decoration: none;" href="mailto:inderjitsingh@somaiya.edu"> inderjitsingh@somaiya.edu</a> </p>
                </div>

                <div class="column col-xl-3 col-md-3 col-sm-12 side">
                    <h6 style="font-weight:bold">Number of Visitors</h5>
                        <br>
                        <div class="counter" style="zoom:75%;">

                            <!-- Start of WebFreeCounter Code -->
                            <a href="https://www.webfreecounter.com/" target="_blank"><img
                                    src="https://www.webfreecounter.com/hit.php?id=geaqcfp&nd=6&style=10" border="0"
                                    alt="hit counter"></a>
                            <!-- End of WebFreeCounter Code -->

                        </div>
                        <br>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <!--Other JS-->

    <script type="text/javascript" src="{% static 'js/documents.js' %}"></script>

    <!--Necessary Javascript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>