{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>HOMEPAGE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!--Necessary CSS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!--AOS JS-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!--template CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index_timeline.css' %}">
  <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">

</head>

<body>
  <script>
    AOS.init();
  </script>



  <!-- landing image start -->
  <div class="hero-image">
    <div class="animated-title">
      <div class="text-top">
        <div>
          <span>Learning</span>
          <span>Made Easy!</span>
        </div>
      </div>
      <div class="text-bottom">
        <div>Get access to solutions of solved and unsolved numericals from standard engineering books.</div>
      </div>
    </div>
  </div>
  <!-- landing image ends -->


  <!-- Navbar start -->
  <div class='our-navbar'>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}"><img style="height: 28px;width: 170px;" src="../media/logo.png" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="fa fa-home"></span><span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item underlinehover">
            <a class="nav-link" href="{% url 'aboutus' %}">About Us <i class="fa fa-users" aria-hidden="true"></i></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item underlinehover ">
            {% if user.is_authenticated %}
            <a class="nav-link " href="{% url 'logout' %}">
              Logout
              <span class="fa fa-sign-out"></span>
            </a>
            {% else %}
            <a class="nav-link " href="{% url 'login' %}">
              Login
              <span class="fa fa-sign-in"></span>
            </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- navbar ends -->


  <!--subject containers-->
  <div class="container-fluid subjectpadding">
    <h3 class='timelinehead'>SUBJECTS</h3>
    <div class="row row1">
      <div class="col-xl-4 col-md-4 col-sm-12 offset-md-2 firstcolumn">
        <a href="{% url 'subjects' %}">
          <div class="hovereffect" data-aos="zoom-in" style="cursor: pointer;">
            <img class="img-responsive" src="../media/images/subject_bec.jpg" alt="">
            <div class="overlay">
              <h2 id="sub1">Basic Electronic Circuits</h2>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-4 col-md-4 col-sm-12 firstcolumn">
        <a href="{% url 'subjects' %}">
          <div class="hovereffect" data-aos="zoom-in" style="cursor: pointer;">
            <img class="img-responsive" src="../media/images/subject_eeee.jpg" alt="">
            <div class="overlay">
              <h2 id="sub2">Elements of Electrical & Electronic Engineering</h2>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row row1">
      <div class="col-xl-4 col-md-4 col-sm-12 offset-md-4 secondcolumn">
        <a href="{% url 'subjects' %}">
          <div class="hovereffect" data-aos="zoom-in" style="cursor: pointer;">
            <img class="img-responsive" src="../media/images/subject_ecad.jpg" alt="">
            <div class="overlay">
              <h2 id="sub3">Electronic Circuit Analysis & Design</h2>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!--subject containers end-->

  <!-- timeline starts -->

  <section>
    <h3 class='timelinehead'> WISH TO LEARN?</h3>
  </section>
  <!-- <div class="container timeline1">
      <div class="row">
          <div class="col-md-12">
              <div class="main-timeline monster">
                  <div class="main-timeline">
                  <div class="timeline" data-aos="fade-right" data-aos-duration="1000">
              
                      <a href="#" class="timeline-content">
                          <div class="timeline-icon">
                              <i class="fa fa-sign-in"></i>
                          </div>
                          <h3 class="title">LOGIN/SIGNUP</h3>  
                      </a>
                  
                  </div>
                  <div class="timeline" data-aos="fade-left" data-aos-duration="1000">
                      <a href="#" class="timeline-content">
                          <div class="timeline-icon">
                              <i class="fa fa-leanpub"></i>
                          </div>
                          <h3 class="title">READ, LEARN, GROW</h3>
                      </a>
                  </div>
                  <div class="timeline" data-aos="fade-right" data-aos-duration="1000">
                      <a href="#" class="timeline-content">
                          <div class="timeline-icon">
                              <i class="fa fa-file-image-o"></i>
                          </div>
                          <h3 class="title">SUBMIT ASSIGNMENT</h3>  
                      </a>
                  </div>
                  <div class="timeline" data-aos="fade-left" data-aos-duration="1000">
                      <a href="#" class="timeline-content">
                          <div class="timeline-icon">
                              <i class="fa fa-file-pdf-o"></i>
                          </div>
                          <h3 class="title">ACCESS NEXT RESOURCES</h3>  
                      </a>
                  </div>
          </div> 
      </div>
    </div>  
    </div>   
    </div>  -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline" data-aos="fade-left" data-aos-duration="1000">
            <a class="timeline-content">
              <div class="timeline-icon">
                <i class="fa fa-sign-in"></i>
              </div>
              <h3 class="title">LOGIN/SIGNUP</h3>
              <p class="description">
                Sign Up for free and get access to the solutions
              </p>
            </a>
          </div>
          <div class="timeline" data-aos="fade-right" data-aos-duration="1000">
            <a class="timeline-content">
              <div class="timeline-icon">
                <i class="fa fa-leanpub"></i>
              </div>
              <h3 class="title">READ, LEARN, GROW</h3>
              <p class="description">
                View the solutions along with simulated files and improve your learning experience
              </p>
            </a>
          </div>
          <div class="timeline" data-aos="fade-left" data-aos-duration="1000">
            <a class="timeline-content">
              <div class="timeline-icon">
                <i class="fa fa-file-image-o"></i>
              </div>
              <h3 class="title">SUBMIT ASSIGNMENT</h3>
              <p class="description">
                Solve and submit the assignment and wait for the approval
              </p>
            </a>
          </div>
          <div class="timeline" data-aos="fade-right" data-aos-duration="1000">
            <a class="timeline-content">
              <div class="timeline-icon">
                <i class="fa fa-file-pdf-o"></i>
              </div>
              <h3 class="title">ACCESS NEXT RESOURCES</h3>
              <p class="description">
                Get access to further solutions
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- timeline ends-->

  <br>

  <!--footerr-->

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="column col-xl-3 col-md-3 col-sm-12 offset-md-1 side">
          <h6 style="font-weight:bold">Register for free</h5>
            <br>
            <a href="{% url 'signup' %}">
              <!-- <button class="button button1">Sign Up!</button> -->
              <button type="button" style="color:white;" class="btn  footer-btn">Sign Up</button>
            </a>
        </div>

        <div class="column col-xl-2 col-md-2 col-sm-12 side">
          <h6 style="font-weight:bold">Useful links</h5>
            <br>
            <ul class="bb">
              <li><a href="{% url 'index' %}" style="text-decoration: none;color:#2d9cc2;" class="fa fa-home"></a><a href="{% url 'index' %}"
                  style="text-decoration: none;color:white"> Home</a></li>
              <br>
              <li><a href="{% url 'aboutus' %}" class="fa fa-users" style="text-decoration: none;color:#2d9cc2;"></a><a
                  href="{% url 'aboutus' %}" style="text-decoration: none;color:white"> About</a></li>
              <br>
              <li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" style="text-decoration: none;color:#2d9cc2;" class="fa fa-sign-in"></a>
                <a href="{% url 'logout' %}" style="text-decoration: none;color:white"> Logout</a>
                {% else %}
                <a href="{% url 'login' %}" style="text-decoration: none;color:#2d9cc2;" class="fa fa-sign-in"></a>
                <a href="{% url 'login' %}" style="text-decoration: none;color:white"> Login</a>
                {% endif %}
              </li>
            </ul>
        </div>

        <div class="column col-xl-3 col-md-3 col-sm-12 side">
          <h6 style="font-weight:bold">Contact Us</h5>
            <br>
            <p style="font-size: 14px;"><a class="fa fa-map-marker" style="font-size:18px;color:#2d9cc2;"></a> K.J.
              Somaiya College of Engineering
              <br> Vidyanagar, Vidyavihar<br>
              Mumbai, India </p>
            <p><a class="fa fa-envelope" style="font-size:14px;color:#2d9cc2; text-decoration: none;"
                href="mailto:inderjitsingh@somaiya.edu"> inderjitsingh@somaiya.edu</a> </p>
        </div>

        <div class="column col-xl-3 col-md-3 col-sm-12 side">
          <h6 style="font-weight:bold">Number of Visitors</h5>
            <br>
            <div class="counter" style="zoom:75%;">

              <!-- Start of WebFreeCounter Code -->
              <a href="https://www.webfreecounter.com/" target="_blank"><img
                  src="https://www.webfreecounter.com/hit.php?id=geaqcfp&nd=6&style=10" border="0"
                  alt="hit counter"></a>
              <!-- End of WebFreeCounter Code -->

            </div>
            <br>

        </div>
      </div>
    </div>
  </div>
  <!--footer-->



  <!--Other JS-->

  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

  <!--Necessary Javascript-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>