<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="login.css">
        <script type="text/javascript" src="login.js"></script>
    
    
    </head>
<body>
    <!-- Navbar start -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="login-navbar">
    <a class="navbar-brand" href="#">Inderjit Singh</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item underlinehover">
            <a class="nav-link" href="..\homepage\index.html">Home <span class="fa fa-home"></a>
        </li>
        <li class="nav-item underlinehover">
            <a class="nav-link" href="#">Contact Us <span class="fa fa-phone"></span></a>
        </li>
        </ul>
    
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item active" id="login-li"> 
                <a class="nav-link " href="..\login\login.html">Login<span class="fa fa-sign-in"></span><span class="sr-only">(current)</span></a>    
            </li> 
            </ul>
    </div>
    </nav>
    <!-- navbar ends -->
    <!-- Login form HTML -->
    <div id="main-login-form-section" class="row mt-5 main-login-form-section">
        <div class="col-sm-12 col-md-5 login  m-auto">
            <div class="content">
                <div class="form-header text-center">				
                    <h4 class="title">Login</h4>
                </div>
                <div class="main-form-body ">
                    <form name="loginForm" onsubmit="return loginValidation()">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" name="emailId" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <small id="emailAlert" class="form-text"></small>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" id="loginPassword" name="loginPassword"  placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <small id="passwordAlert" class="form-text"></small>
                            </div>
                            <div class="form-group text-muted"id="message">
                                <h6>Password must contain the following:</h6>
                                A lowercase letter<br>
                                A capital (uppercase) letter<br>
                                A number<br>
                                Minimum 8 characters</p>
                            </div>      
                        </div>
                        <div class="form-group">
                            <button type="submit" id="login-button"class="btn btn-primary btn-block btn-lg mt-2">Login <i class="fa fa-login"></i></button>
                        </div>
                        <label class="form-check-label"><input type="checkbox"> Remember me</label>
                        <a href="#" class="hint-text" onclick="userQuestion()">Forgot Password?</a>
                    </form>
                </div>
                <div class="modal-footer">Don't have an account? <a href="..\register\register.html">Create one</a></div>
            </div>
        </div>
    </div> 
    <!--forgot Password form begin-->
    <div class="main-forgot-pass-section"  id="main-forgot-pass-section">	
        <form name="forgetPasswordForm" id="ResetPassForm"action="" method="" onsubmit="return nameValidation()">
            <h2>Forgot Password</h2>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" name="emailId" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <small id="emailAlert2" class="form-text"></small>
                </div>
                <small id="emailAlert" class="form-text"></small>
            </div>
            <div class="form-row" >
                <div class="alert alert-primary" role="alert" id="alert-message">
                    Answer those questions, which you chose while creating Account.
                </div>
                <div class="alert alert-danger" role="alert" id="error-alert-message">
                    You must answer two Security questions
                </div>
                <div class="alert alert-danger" role="alert" id="blank-alert-message">
                    Please fill out Security Questions.
                </div>
            </div>
            <div class="form-group" id="question1">
                <div class="input-group">
                    <label for="question2" id="firstQuestionLabel">What is your favorite Food?</label>
                    <div class="form-row"><input type="text" class="form-control ml-2" size="36" name="question1" id="firstQuestion" placeholder="Your Response" ></div>
                </div>
            </div>
            <div class="form-group" id="question2">
                <div class="input-group">
                    <label for="question2" id="secondQuestionLabel">What is your favorite Sport?</label>
                    <div class="form-row"><input type="text" class="form-control ml-2"  size="36" name="question2" id="secondQuestion" placeholder="Your Response"></div>
                </div>
            </div>
            <div class="form-group" id="question3">
                <div class="input-group">
                    <label for="question3" id="thirdQuestionLabel">What is your favorite Song?</label>
                    <div class="form-row"><input type="text" class="form-control ml-2"  size="36" name="question3" id="thirdQuestion" placeholder="Your Response"></div>
                </div>
            </div>
            <div class="form-group button-center-align" id ="submitbtnForm">
                <button type="reset" class="btn btn-secondary reset-button" id="reset-button">Reset</button>
                <button type="submit" class="btn submit-button" id="submit-button">Submit</button>
            </div>
        </form>
    </div>
    <!--forgot Password form ends-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        var pass_input=document.getElementById("loginPassword");
            pass_input.onfocus = function() {
            document.getElementById("message").style.display = "block";
        }
        // When the user clicks outside of the password field, hide the message box
        pass_input.onblur = function() {
        document.getElementById("message").style.display = "none";
        }
    </script>
    
</body>
</html>
