{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Subjects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/subject.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">

    <style>
        .demoFont {
            font-family: "Times New Roman", Times, serif;
            /* font-family: "Raleway"; */
            font-size: 25px;
            letter-spacing: 0px;
            word-spacing: 0px;
            color: #000000;
            font-weight: 700;
            text-decoration: none solid rgb(68, 68, 68);
            font-style: normal;
            font-variant: small-caps;
            text-transform: capitalize;
        }
    </style>
</head>

<body>
    <!-- Navbar start -->
    <div class='our-navbar'>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="{% url 'index' %}"><img style="height: 28px;width: 170px;" src="../media/logo.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item underlinehover">
                        <a class="nav-link" href="{% url 'index' %}">Home <span class="fa fa-home"></span><span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item underlinehover">
                        <a class="nav-link" href="{% url 'aboutus' %}">About Us <span class="fa fa-users"></span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item underlinehover ">
                        <a class="nav-link " href="#" id="btnLogin" data-toggle="modal"
                            data-target="#profileModal">Profile <span class="fa fa-user"></span></a>
                    </li>
                    <li class="nav-item underlinehover ">
                        <a class="nav-link " href="{% url 'logout' %}">Logout <span class="fa fa-sign-in"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- navbar ends -->
    <br><br>

    <div class="container">
        <div class="modal fade show" data-easein="slideDownIn" id="profileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-profile modal-dialog-centered" role="document" >
                <div class="modal-content" style="border-radius: 12px;">
                    <div class="modal-header" style="border-radius: 12px 12px 0px 0px;">
                        <h5 class="modal-title">Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="profileForm">
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                <input type="text" class="form-control" placeholder="Full Name" name="fullName"
                                    id="fullName" value="{{student.fullname}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="emailId">Email</label>
                                <input type="email " class="form-control" placeholder="Email" name="emailId"
                                    id="emailId" value="{{student.email}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="collegeName">Name of College/University</label>
                                <input type="text" class="form-control" placeholder="Name of College/University"
                                    name="collegeName" value="{{student.college}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="branch">Branch</label>
                                <input type="text" class="form-control" placeholder="Branch" name="branch" id="branch"
                                    value="{{student.branch}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="yearOfStudy">Year of Study</label>
                                <input type="text" class="form-control" placeholder="Year of Study" id="yearOfStudy"
                                    name="yearOfStudy" value="{{student.year}}" readonly>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row1">
            <div class="column col-xl-12 col-md-12 col-sm-12 column1 ">
                <ol class="carousel-indicators">
                    <button onclick="myFunction1()" id="btn1" data-target="#carouselExampleIndicators" data-slide-to="0"
                        class="active">EEEE<span></span></button>
                    <button onclick="myFunction2()" id="btn2" data-target="#carouselExampleIndicators"
                        data-slide-to="1"><span></span></button>
                    <button onclick="myFunction3()" id="btn3" data-target="#carouselExampleIndicators"
                        data-slide-to="2"><span></span></button>
                </ol>
            </div>
        </div>

        <div class="row row2">
            <div class="column col-xl-10 col-md-10 col-sm-12 offset-md-1 column2">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">

                    <div class="carousel-inner">

                        <div class="carousel-item active">

                            <div class="div1 subject1padding" style='color: black;'>
                                <div class="demoFont">Elements of Electrical & Electronic Engineering</div>
                            </div>

                            <div class='row justify-content-around'>
                                <div class='col-md-1'></div>
                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="EEEE/DC Circuits/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/DcCircuitIcon.png"
                                                        id="dc-circuit">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">DC Circuits</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="EEEE/AC Circuits/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/AcCircuitIcon.png"
                                                        id="ac-circuit">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">AC Circuits</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class='row justify-content-around'>
                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="EEEE/Diode Applications/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/ClipperClamperIcon.png"
                                                        id="Diode-App">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Diode Applications</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--SUBJECT-2 Slide Begin-->
                        <div class="carousel-item ">

                            <div class="div1 subject2padding">
                                <div class="demoFont">Basic Electronics Circuits</div>
                            </div>

                            <!--Subject-2 Row-1 begin-->
                            <div class='row justify-content-around'>
                                <div class='col-md-1'></div>
                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="BEC/DC Biasing Circuits/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1 resize-img">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/DcBiasingIcon.png">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">DC Biasing Circuits</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="BEC/Diode Application/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1 resize-img">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/DiodeAppIcon.png">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Diode Application</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-1'></div>
                            </div>
                            <!--Subject-2 Row-1 ends-->

                            <!--Subject-2 Row-2 begin-->
                            <div class='row justify-content-around'>
                                <div class='col-md-1'></div>
                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="BEC/Single Stage BJT Amplifier/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1 resize-img">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/BJTAmplifierIcon.png">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Single Stage BJT Amplifier</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="BEC/Single Stage FET Amplifier/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1 resize-img">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/FETAmplifierIcon.png">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Single Stage FET Amplifier</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-1'></div>
                            </div>
                            <!--Subject-2 Row-2 ends-->

                            <!--Subject-2 Row-3 begin-->
                            <div class='row justify-content-around'>

                                <div class='col-md-4'>
                                    <div class="card">
                                        <a href="BEC/Design of Single Stage Amplifier/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/SingleStageDesignIcon.png"
                                                        id="Single-Stage-Design">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Design of Single Stage Amplifier</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Subject-2 Row-3 ends-->
                        </div>
                        <!--SUBJECT-2 Slide Ends-->

                        <!--SUBJECT-3 Slide Begin-->
                        <div class="carousel-item">
                            <div class="div1 subject3padding">
                                <div class="demoFont">Electronic Circuit Analysis & Design</div>
                            </div>

                            <!--Subject-3 Row-1 begin-->
                            <div class='row justify-content-around'>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Amplifiers: Freq. Response/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/AmplifierFreqIcon.png">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Amplifiers: Freq. Response</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Multi-transistor Circuits/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/MultiTransistorIcon.png"
                                                        id="Multi-transistor">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Multi-transistor Circuits</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Cascode Amplifier/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/CascodeAmpIcon.png">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Cascode Amplifier</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Subject-3 Row-1 ends-->

                            <!--Subject-3 Row-2 begin-->
                            <div class='row justify-content-around'>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Darlington Amplifier/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/DarlingtonAmpIcon.png"
                                                        id="Darlington-Amplifier">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Darlington Amplifier</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Cascade Amplifier Design/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/CascadeAmpIcon.png"
                                                        id="Cascade-Amplifier">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Cascade Amplifier Design</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Oscillator Circuits/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/OscillatorAmpIcon.png"
                                                        id="Oscillator-Amplifier">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Oscillator Circuits</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Subject-3 Row-2 ends-->
                            <!--Subject-3 Row-3 Begin-->
                            <div class='row'>
                                <div class='col-md-2'></div>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Power Amplifier Circuits/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img"
                                                        src="../media/images/post-login/PowerAmpIcon.png"
                                                        id="Power-Amplifier">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Power Amplifier Circuits</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-2'></div>
                                <div class='col-md-3'>
                                    <div class="card">
                                        <a href="ECAD/Differential Amplifier Circuits/documents">
                                            <div class="row no-gutters">
                                                <div class="col-sm-2 order-last mt-auto mb-1">
                                                    <img class="card-img
                                                    " src="../media/images/post-login/DifferentialAmpIcon.png"
                                                        id="Differential-Amplifier">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Differential Amplifier Circuits</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class='col-md-3'></div>
                            </div>
                            <!--Subject-3 Row-3 ends-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <!--footerr-->
    <div class="footer" id="footer1">
        <div class="container">
            <div class="row">
                <div class="column col-xl-3 col-md-3 col-sm-12 offset-md-1 side">
                    <h6 style="font-weight:bold">Register for free</h5>
                        <br>
                        <a href="{% url 'signup' %}">
                            <!-- <button class="button button1">Sign Up!</button> -->
                            <button type="button" style="color:white;" class="btn  footer-btn">Sign Up</button>
                        </a>
                </div>

                <div class="column col-xl-2 col-md-2 col-sm-12 side">
                    <h6 style="font-weight:bold">Useful links</h5>
                        <br>
                        <ul class="bb">
                            <li><a href="{% url 'index' %}" style="text-decoration: none;color:#2d9cc2;" class="fa fa-home"></a><a
                                    href="{% url 'index' %}" style="text-decoration: none;color:white"> Home</a></li>
                            <br>
                            <li><a href="{% url 'aboutus' %}" class="fa fa-users" style="text-decoration: none;color:#2d9cc2;" ></a>
                                <a href="{% url 'aboutus' %}" style="text-decoration: none;color:white"> About</a></li>
                            <br>
                            <li><a href="{% url 'logout' %}" style="text-decoration: none;color:#2d9cc2;"
                                    class="fa fa-sign-in"></a><a href="{% url 'logout' %}"
                                    style="text-decoration: none;color:white"> Logout</a> </li>
                        </ul>
                </div>


                <div class="column col-xl-3 col-md-3 col-sm-12 side">
                    <h6 style="font-weight:bold">Contact Us</h5>
                        <br>
                        <p style="font-size: 14px;"><a class="fa fa-map-marker"
                                style="font-size:18px;color:#2d9cc2;"></a> K.J. Somaiya College of Engineering
                            <br> Vidyanagar, Vidyavihar<br>
                            Mumbai, India </p>
                            <p><a class="fa fa-envelope" style="font-size:14px;color:#2d9cc2; text-decoration: none;" href="mailto:inderjitsingh@somaiya.edu"> inderjitsingh@somaiya.edu</a> </p>
                </div>

                <div class="column col-xl-3 col-md-3 col-sm-12 side">
                    <h6 style="font-weight:bold">Number of Visitors</h5>
                        <br>
                        <div class="counter" style="zoom:75%;">

                            <!-- Start of WebFreeCounter Code -->
                            <a href="https://www.webfreecounter.com/" target="_blank"><img
                                    src="https://www.webfreecounter.com/hit.php?id=geaqcfp&nd=6&style=10" border="0"
                                    alt="hit counter"></a>
                            <!-- End of WebFreeCounter Code -->

                        </div>
                        <br>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <!----JS template----->
    <script type="text/javascript" src="{% static 'js/postlogin.js' %}"></script>


</body>

</html>